@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #000000;
  background: #ffffff;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

body {
  background: #ffffff;
}

.card {
  background: #ffffff;
}
